.login-form-text {
    color: #B176FF;
    font-size: 12px;
}

.details {
    background-color: #C4C4C4;
    font-size: 12px;
}

.placeholder-custom::placeholder {
    color: #0E0E10;
}

.login-text {
    color: #C4C4C4;
    background-color: #0E0E10;
    /* width: 100%; */
}

.register-text {
    color: #0E0E10;
    background-color: #C4C4C4;
}

.eye {
    color: #0E0E10;
}
.forget-pw {
    color: #C4C4C4;
}
